name: CI

on:
  push:
  pull_request:

permissions:
  contents: read

jobs:
  lint:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4.3.0

      - name: Install tools
        run: |
          sudo apt-get update
          sudo apt-get install -y shellcheck shfmt

      - name: Lint
        run: |
          ./scripts/lint.sh

      - name: Tests
        run: |
          ./tests/run.sh

      - name: Security
        run: |
          ./scripts/security.sh
